{erl_opts, [debug_info]}.
{deps, [
         {lib_sd,{git,"https://github.com/joq62/lib_sd.git",{branch,"main"}}},
	 {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}},
	 {phoscon_control,{git,"https://github.com/joq62/phoscon_control.git",{branch,"main"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [phoscon_provider]}
]}.
{relx, [
    {release, {phoscon_provider, "0.1.0"}, [log, phoscon_control, lib_sd, phoscon_provider]}
]}.
